<div class="container">
	<div class="col-xs-12">
		<h1>Login</h1>
			
				<%= bootstrap_form_for :user do |f|  %>
				<div class="email">
				<%= f.text_field :email, placeholder: "Enter your email", wrapper: { class: 'email-field col-xs-8 col-xs-offset-2'} %>
				</div>
				<div class="password">
				<%= f.password_field :password, placeholder: "Enter your password", wrapper: { class: 'pword-field col-xs-8 col-xs-offset-2'} %>
				</div>
				<div class="login">
				<%= f.submit "Login", class: "btn btn-default login-btn" %>
				</div>
				<% end %>

			<div class="facebook">
				<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary fb-btn" %>
			</div>
			
		<br>
			<p class="sign-up">
				<a style="color: white; text-decoration: none;" href="/signup">Sign up for a new account!</a>
			</p>
			<div style="text-align: center;">
			<%= link_to "Forgot password?", reset_path, :class => "forgot-password" %>
			</div>
	</div>
</div>