<!-- landing page -->
<section class="row">
<div class= "col-xs-12">

</div>
</section>

<section class="row">
  <div class= "col-xs-12">
    <h3 style="text-align: center">Sign Up</h3>
      <%= bootstrap_form_for :user do |f|  %>
      <%= f.text_field :email, placeholder: "Enter your email", wrapper: { class: 'col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4'} %>
      <%= f.password_field :password, placeholder: "Create a password", wrapper: { class: 'col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4'} %>
      <%= f.submit "Signup", class: "signup-btn btn-default btn col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-4" %>
      <% end %>
     <% if @current_user %>
            <span style="color:black;"><%= @current_user.email %> is logged in</span>  |  
            <% end %>

        
  </div>
</section>
<section class="row">
<div class="col-xs-12">
<div class="login-div"><a class="link-to-login" href="/">Already have an account?</a></div>
</div>
</section>

