<div class="container">
	<div class="col-xs-12">
		<h1>Inventory</h1>
		<% @items.each do |item| %>
			<div class="panel panel-default">
	  		<div class="panel-body">
	    		<img src="<%= item.img_url %>">
	    		<a href="items/<%= item.id %>"><%= item.name %></a>
		    	<button class="btn btn-default" id="add-to-list" type="submit">Add To List</button>
		    	<!-- <button class="btn btn-default" id="delete-item" type="submit">Delete</button> -->
		    	<%= link_to "+list", item_path(item), method: :delete, class: "btn btn-success" %>


		    	<%= link_to "+Fav", item_path(item), method: :delete, class: "btn btn-primary" %>

		    	<!-- delete btn works! -->
		    	<%= link_to "Delete", item_path(item), method: :delete, class: "btn btn-danger" %>
		    	<!-- item_path(item) translates to "/items/:id" -->

		  	</div>
			</div>
		<% end %>
	</div>
</div>

