
<div class="container" id="inventory">
	<div class="col-xs-12">
		<div class="header">
			<span class="inventory-header">Inventory</span>
			<a href="/search" class="btn btn-sq-xs btn-success"><i class="glyphicon glyphicon-search"></i> Add Item to Inventory</a>
    </div>
		
		<% if @items.length > 0 %>
			<% @items.each do |item| %>
				<div class="panel panel-default">
	  			<div class="panel-body"> 
	  				<div class="inv-name">
			  			<div class="item-img">
			    			<img class="item-thumb" src="<%= item.img_url %>" width="150">
			    		</div>
				    	<div class="item-name">
				    		<a href="items/<%= item.id %>"><%= "#{item.brand} - #{item.name}" %></a>
				    		<% if item.count % 1 == 0   %>
				    			<% qty = item.count.to_i  %>
				    		<% else  %>
				    			<% qty = item.count  %>
				    		<% end  %>
				    		<p>Quantity: <span class="item-quantity"><%= qty %></span> </p>
				    	</div>  		
				    		
	            	<div class="inv-buttons">
	            	<%= link_to "+ List", "/items/#{item.id}/islist", method: :put, class: "btn btn-default" %>
				    		<%= link_to "+ Favorites", item_path(item), method: :put, class: "btn btn-default" %>
							</div>
				    </div>
		  		</div>
				</div>
			<% end %>
		<% else %>
			<div class="panel panel-default">
	  		<div class="panel-body">
	  		<h3 style="color: black;">Your inventory is currently empty.</h3>
	  		</div>
			</div>
		<% end %>
	</div>
</div>


