<div class="container">
	<div class="col-xs-12">
		<a href="/items"><button class="btn btn-default go-back"><i class="fa fa-lg fa-long-arrow-left" aria-hidden="true"></i> Back to Inventory</button></a>
		<div class="panel panel-default">
	  	<div class="panel-body">
		  		<div class="show-img">
		  			<img src="<%= @item.img_url %>" width="150">
		  		</div>
						<h1 class="show-item-name"><%= "#{@item.brand} - #{@item.name}" %></h1>
		    		<p class="quan">Quantity left: <%= @item.count %></p>
		    		<div class="show-buttons">
		    			<!-- <button class="btn btn-default" id="out-of-this" type="submit">I'm out of this!</button> -->
		    			<%= link_to "I'm out of this!", "#{@item.id}/reset", method: :put, class: "btn btn-default" %>
			    		<%= link_to "Delete", item_path(@item), method: :delete, class: "btn btn-default" %>
			    	</div>
		  	</div>
			</div>
	</div>
</div>
